@media (min-width: 501px) {

    .currentConditions img {
        width: 100%; 
        height: auto;
    }

    .Town img {
        width: 100%;
        max-width: 900px;
        height: auto;
    }

    article img {
        float: right;
        max-width: 25%;
        height: auto;
        margin: -50px 0 0 30px;
    }

    footer .fimg {
        max-width: 25%;
        height: auto;
        vertical-align: middle;
        margin: 1.2em;
    }
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: black;
    }
    .currentconditions {
        background-color: #1ccad8;
        display: inline-block;
        vertical-align: middle;
        /* margin: 1rem 0 1rem 3rem; */
        padding: 1rem;
        font-size: 1.1rem;
        border: 2px solid #036;
        border-radius: .4em;
        width: 3em;
    }
    

}